{% extends 'base.html' %}
{% block content %}
{% load poll_extras %}
{% load static %}

<div class="container d-flex justify-content-left my-3 pb-5">
    <div class="col-3">
        <h1>{{ user_.username }}</h1>
        {% if user_.profile.photo %}
        <img src="{{user_.profile.photo.url}}" width="290" class="mh-75">
        {% else %}
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Flag_of_None_%28square%29.svg/1200px-Flag_of_None_%28square%29.svg.png"
            width="290" class="mh-75">
        {% endif %}
    </div>

    <div class="col-9 mt-5">
        <p class="fs-3">{{user_.first_name}} {{user_.last_name}}</p>
        <p class="fs-5">Registration date: {{user_.date_joined}} </p>
        <p class="fs-5">Last seen: {{user_.last_login}} </p>
    </div>
</div>

<div class="container d-flex justify-content-left my-3 pb-5">
    <div class="col-3">
        <h2>{{ user_.username }} post:</h1>
    </div>
</div>

{% for post in posts %}
<div class="container d-flex justify-content-center">
    <div class="w-75 ">
        <h2 class="display-8 "><a href="{% url 'post_detail' post.id %}"
                style="text-decoration: none;">{{ post.title_post }}</a></h2>
        <figcaption class="blockquote-footer mt-0">
            {{ post.create_date_post }}
        </figcaption>
        <div class="col-lg-10 mx-auto" style="text-align: justify;">
            <p class="lead mb-4">{{ post.text_post|linebreaksbr|stringformat:".200s..."  }}</p>
        </div>

        {% if post.image_posts %}
        <div class="overflow-hidden">
            <div class="container text-center px-5">
                <img src="{{post.image_posts.url}}" class="img-fluid border rounded-3 shadow-lg mb-4 center" alt="lsad"
                    width="500" loading="lazy">
            </div>
        </div>
        {%endif%}
    </div>
</div>
{% empty %}
<div class="container d-flex justify-content-center">
    <div class="w-75">
        <p class="fs-3">There are no post yet.</p>
    </div>
</div>
{% endfor %}
<div class="container d-flex justify-content-center mt-3 mb-3">
    {% include "pagination.html" with page=posts %}
</div>
{% endblock %}