{% extends 'base.html' %}

{% block content %}


<div class="container d-flex justify-content-center">

    {% comment %} <div class="px-5 pt-1 my-4 border-bottom mt-5"> {% endcomment %}
        <div class="w-75 ">
        <h2 class="display-8 ">{{ post.title_post }}</h2>
        <figcaption class="blockquote-footer mt-0">
            {% if post.author_post %}
            {{ post.author_post }} ({{ post.create_date_post }})
            {% else %}
            {{ post.create_date_post }}
            {% endif %}

            {% if post.author_post == user %}
            <a href="{% url 'post_edit' post.id %}">click to edit</a>
            {% endif %}
        </figcaption>
        <div class="col-lg-10 mx-auto" style="text-align: justify;">
            <p class="lead mb-4">{{ post.text_post|linebreaksbr }}</p>
        </div>

        {% if post.image_posts %}
        <div class="overflow-hidden" >
            <div class="container text-center px-5">
                <img src="{{post.image_posts.url}}" class="img-fluid border rounded-3 shadow-lg mb-4 center" alt="lsad" width="500" loading="lazy">
            </div>
        </div>
        {%endif%}
    </div>


</div>


{% endblock %}