{% extends 'home/base.html' %}

{% block content %}

<div class="px-5 pt-1 my-4 border-bottom">
  <h1 class="display-6 fw-bold">Главная новость</h1>
  <div class="col-lg-10 mx-auto" style="text-align: justify;">
    <p class="lead mb-4">Samsung выпустила несколько 200-мегапиксельных датчиков — сначала был представлен ISOCELL HP1 в
      2021 году, а теперь компания добралась до ISOCELL HP3 в текущем году. Можно было бы предположить, когда корейская
      компания перестанет продвигать эти датчики с большим количеством мегапикселей, но, согласно последним сведениям и
      некоторым расчетам, Samsung только начинает работать в этом направлении и может выпустить датчик на 450 Мп с
      брендом Hexapixel в будущем. Подача заявки на товарный знак Hexapixel вызвала новые слухи, особенно в связи с тем,
      что Samsung может работать над новой камерой для будущего флагмана Galaxy S23 Ultra. Учитывая, что Galaxy S22
      Ultra является единственным представителем линейки текущего поколения с высококачественной основной камерой на 200
      Мп, можно предположить, что Samsung объединит свои ресурсы для разработки нового сенсора для топового смартфона
      следующего года.
    </p>
  </div>
  <div class="overflow-hidden" style="max-height: 30vh;">
    <div class="container text-center px-5">
      <img src="/" class="img-fluid border rounded-3 shadow-lg mb-4 center" alt="lsad" width="700" height="500"
        loading="lazy">
    </div>
  </div>
</div>
{% endblock %}